{#{% load staticfrom staticfiles %}#}
{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <!-- Bootstrap Styles-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet"/>
    <!-- Morris Chart Styles-->

    <!-- Custom Styles-->
    <link href="{% static 'assets/css/custom-styles.css' %}" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <link href="{% static 'assets/js/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts-en.common.min.js"></script>

</head>
<body onload="load()">
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><i class="fa fa-comments"></i> <strong>股票预测分析工具</strong></a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> {{ username }}</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a href="stockprice" class=" {% if url == 'stockprice' %}active-menu{% endif %}"><i
                            class="fa fa-qrcode"></i> 行情查询</a>
                </li>
                <li>
                    <a href="stockpred" class=" {% if url == 'stockpred' %}active-menu{% endif %}"><i
                            class="fa fa-table"></i> 预测结果查询</a>
                </li>
                <li>
                    <a href="predanal" class=" {% if url == 'predanal' %}active-menu{% endif %}"><i
                            class="fa fa-bar-chart-o"></i> 预测结果分析</a>
                </li>
                <li>
                    <a href="relation_analyze" class=" {% if url == 'relation_analyze' %}active-menu{% endif %}"><i
                            class="fa fa-bar-chart-o"></i> 股票相关性分析</a>
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                       <a href="relation_analyze" class=" {% if url == 'relation_analyze' %}active-menu{% endif %}"> 股票相关性分析</a>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>与<span id="code1">{{ code }}</span>相关性最高top10</h3>
                        </div>
                        <div class="panel-body ">
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 代码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   相关度</p>
                            <li><span id="code2">{{ similar_code.1 }}</span>  &nbsp;&nbsp;&nbsp; {{ similar_rate.1 }}</li>
                            <li>{{ similar_code.2 }}  &nbsp;&nbsp;&nbsp; {{ similar_rate.2 }}</li>
                            <li>{{ similar_code.3 }}  &nbsp;&nbsp;&nbsp; {{ similar_rate.3 }}</li>
                            <li>{{ similar_code.4 }}  &nbsp;&nbsp;&nbsp; {{ similar_rate.4 }}</li>
                            <li>{{ similar_code.5 }}  &nbsp;&nbsp;&nbsp; {{ similar_rate.5 }}</li>
                            <li>{{ similar_code.6 }}  &nbsp;&nbsp;&nbsp; {{ similar_rate.6 }}</li>
                            <li>{{ similar_code.7 }}  &nbsp;&nbsp;&nbsp; {{ similar_rate.7 }}</li>
                            <li>{{ similar_code.8 }}  &nbsp;&nbsp;&nbsp; {{ similar_rate.8 }}</li>
                            <li>{{ similar_code.9 }}  &nbsp;&nbsp;&nbsp; {{ similar_rate.9 }}</li>
                            <li>{{ similar_code.10 }} &nbsp;&nbsp;&nbsp;  {{ similar_rate.10 }}</li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>与最相关股票的走势图</h3>
                        </div>
                        <div class="panel-body">
                            <div id="trend" style="height: 400px;weight: 600px;">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
<!-- Bootstrap Js -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- Metis Menu Js -->
<script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>


<script>
function load(){
        var wrChart = echarts.init(document.getElementById('trend'))
        wrChart.showLoading();
        url1 =  '/trend?code1='+ document.getElementById('code1').innerText+'&code2='+document.getElementById('code2').innerText
        $.get(url1, function (data) {
            wrChart.hideLoading();
            wrChart.setOption(option = {
                tooltip: {
                    trigger: 'axis'
                },
                xAxis: {
                    name: '日期',
                    data: data[0]
                },
                yAxis: {
                    name: '收盘价',
                    splitLine: {
                        show: false
                    }
                },
                series: [{
                    name: data[3],
                    type: 'line',
                    smooth: true,
                    data: data[1]
                },
                    {
                    name: data[4],
                    type: 'line',
                    smooth: true,
                    data: data[2]
                }
                ]
            })
            wrChart.resize()
        })
    };
</script>
<!-- Custom Js -->
<script src="{% static 'assets/js/custom-scripts.js' %}"></script>

</body>
</html>

