{% extends 'base_layout.html' %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-1">股票代码</div>
        <div class="col-2">买入/关注日期</div>
        <div class="col-1">当前涨幅</div>
        <div class="col-1">当日价格</div>
        <div class="col-1">买入价格</div>
        <div class="col-1">卖出价格</div>
        <div class="col-1">卖出日期</div>
    </div>
        {% for uf in ufs %}
    <form class="row " action="/stockpred" method="post">
        {% csrf_token %}
        <input class="col-1 {{ uf.is_success }}" readonly value="{{ uf.code }}"></input>
        <input class="col-2 {{ uf.is_success }}" readonly value="{{ uf.buy_date|date:"Y-m-d" }}"></input>
        <input class="col-1 {{ uf.is_success }}" readonly value="{{ uf.change|floatformat:2 }}%"></input>
        <input class="col-1 {{ uf.is_success }}" readonly value="{{ uf.high }}"></input>
        <input class="col-1 {{ uf.is_success }}" readonly value="{% if uf.buy_price == -1 %}- {% else %}{{ uf.buy_price }}{% endif %}"></input>
        <input class="col-1 {{ uf.is_success }}" readonly value="{{ uf.sale_price }}"></input>
        <input class="col-1 {{ uf.is_success }}" readonly value="{{ uf.sale_date }}"></input>
        <input class="col-1" type="submit" value="取消关注">
        <input class="col-1" type="submit" value="卖出">
    </form>
    {% endfor %}
    </div>
    <style type="text/css">
        .is_suc{
            background-color: #66ccff;
        }
        .no_suc{
            background-color: indianred;
        }
    </style>
{% endblock %}